@charset "UTF-8";


/* ysl2 css*/

.workwriteWrap .titleBx .titleReadOnly {
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
    /* overflow: hidden; */
    width: 550px;
    word-break: break-all;
}
.post_writer .date {
    margin-top: 6px;
    display: block;
    color: silver;
    font-size: 12px;
}
element.style {
    cursor: pointer;
    margin-right: 6px;
    vertical-align: middle;
}
.post_writer .name {
    color: #111;
}
.post_writer .photo {
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 40px;
}
.workTab button.tab1 {
    border-radius: 4px 0 0 4px;
    margin-left: 0;
}
.workTab div {
	color:black;
	font-weight:bolder;
    display: inline-block;
    vertical-align: top;
    margin-left: -1px;
    width: 71px;
    height: 32px;
    font-size: 14px;
    color: #969696;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f0f1f3;
    
}
.workTab2 div {
	color:black;
	font-weight:bolder;
    display: inline-block;
    vertical-align: top;
    margin-left: -1px;
    width: 71px;
    height: 32px;
    font-size: 14px;
    color: #969696;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f0f1f3;
    
}
.worktab div {
	color:black;
	font-weight:bolder;
    display: inline-block;
    vertical-align: top;
    margin-left: -1px;
    width: 40px;
    height: 20px;
    font-size: 14px;
    color: #969696;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f0f1f3;
    
}
.worktab2 div {
	color:black;
	font-weight:bolder;
    display: inline-block;
    vertical-align: top;
    margin-left: -1px;
    width: 40px;
    height: 20px;
    font-size: 14px;
    color: #969696;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f0f1f3;
    
}

.workTab div label{
	margin-top: 7px;
}
.workTab2 div label{
	margin-top: 7px;
}
.workTab .on{
	background-color: gray;
}
.workTab2 .on{
	background-color: gray;
}
.workTab {
    margin: 7px 0 0 0;
    display: inline-block;
    height: 32px;
    overflow: hidden;
}
.workTab2 {
    margin: 7px 0 0 0;
    display: inline-block;
    height: 32px;
    overflow: hidden;
}
.workwriteWrap .titleBx {
    position: relative;
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
.post_write_tab ul li.on a {
    color: #307cff;
}
.post_write_tab ul li > a {
    display: block;
    line-height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-align: center;
}
button, a {
    cursor: pointer;
}

dl, ul, ol {
    list-style: none;
    
}

.post_write_tab {
    position: relative;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
strong {
    font-weight: bold;
}

#in{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -4px;
}
#de{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -3px;
}
.inde{
	border:1px solid skyblue;
	background-color: rgba(0,0,0,0);
	color: skyblue;
	padding : 5px;
}
.inde:hover {
	color:white;
	background-color: skyblue;
}
.col-md-12 .textarea {
	line-height: 3;
}


.textarea_h{
	height : 300px;
}

/* rightbar css */
.sidebar_r{
  float: right;
  width: 280px;
  position: fixed;
  margin-left : 85%;
  background: #f9f9f9;
  border-right: 1px solid #e5e5e5;
  
	}
.ulstyle{
  display: block;
  color: #696969;
  font-size: 7px;
  font-family: "open_sansregular";
  text-transform: uppercase;
  background: #fff;
  line-height: 68px;
  box-shadow: inset 0 -1px 0 #e5e5e5;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.ucc{
  float: left;
  display: block;
  color: #696969;
  font-size: 15px;
  font-family: "open_sansregular";
  text-transform: uppercase;
  background: #fff;
  line-height: 68px;
  box-shadow: inset 0 -1px 0 #e5e5e5;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  overflow: hidden;
	  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
  padding-left: 20px;
}
.ucc:hover{
	text-decoration:none
}
.messagei:hover{
	color: black;
	text-decoration:none
}
.messagei:visited{
	color: black;
}
.messagei:link{
	color: black;
}
.messagei{
	height: 17px;
	width: 17px;
}
#modal{
	float : right;
	font-size: 9px;
}
.amodal{
	text-decoration: none; 
}
.amodal:link{
	text-decoration: none; 
	text-shadow: 0 0 24px;
}
#imguser{
	width: 45px; 
	height: 45x;
	border-radius: 70%;
}
#inviteDiv{
	width: 245px; 
	height: 245x;
	border: 2px solid black;
}


/* body css*/
.col-md-12 {
    width: 1245px;
    
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 1000px;
}

/* main css footer 맨끝 부분*/
.container2 {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
}

/*main css*/
.header2{
	font-family: poppins;
    /* padding: 10px 0px; */
    background: #faa574;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.banner-main .carousel-caption .buynow{
	border: #fff solid 1px;
    background: antiquewhite;
    width: 190px;
    padding: 8px 0;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #000;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
}
.row2{
	margin-left: -180px;
    width: 1000px;
}

.hh{
	font-size: 10px;
}


.read{
	color: #fff;
    font-size: 17px;
    line-height: 29px;
    background: #052501;
    border: #052501 solid 1px;
    padding: 12px 40px;
    display: inline-block;
    width: 231px;
    text-align: center;
    border-radius: 18px;
	
}
.m_logo{
	width: 50%;
   
	
}

/* 팝업창 css*/
.strong2{
	font-size: 18px;
    font-family: 'Poppins';
}

* {
  box-sizing: border-box;
}

 body2 {
  background: #f1f1f1;
  color: #333333;
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
 
.dialog__trigger, .dialog__action {
  
  background: none;
  padding: 15px 10px;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.dialog__trigger:hover, .dialog__action:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);
}
.dialog__trigger:focus, .dialog__action:focus {
  outline: 0;
}
.dialog__trigger:active, .dialog__action:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.dialog {
  background: #f1f1f1;
  width: 70%;
  position: absolute;
  left: calc(50% - 35%);
  top: 0;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
  border: 3px solid #333333;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
}
@media (max-width: 600px) {
  .dialog {
    width: 90%;
    left: calc(50% - 45%);
  }
}
.dialog.dialog--active {
  top: 200%;
  height:490px;
  color:black;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  z-index:1;
  
}
.dialog .dialog__close {
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}
.dialog .dialog__close:hover {
  color: #E74C3C;
}
.dialog .dialog__title {
  font-size: 30px;
  font-family: fantasy;
  font-weight: 100;
  margin: 0;
  padding-left:150px;
  padding-bottom: 20px;
  border-bottom: 2px solid orange;
}
.dialog .dialog__content {
  font-size: 20px;
  color:black;
  margin-top:50px;
  margin-bottom:20px;
  line-height: 2rem;
}
.dialog .dialog__action {
    margin-top: 80px;
    margin-left: 350px;
    height: 10px;
    padding-top: 8px;
    padding-bottom: 20px;
}





/* right css*/

.btn-info {
    color: #fff;
    background-color: darkgrey;
}



	
